<h2 mat-dialog-title class="modal-title-wrap">
  <span>{{ modo === 'edit' ? 'Editar Módulo' : 'Registrar Módulo' }}</span>


</h2>

<mat-dialog-content>
  <form [formGroup]="rolForm" class="role-form">
    <!-- Nombre -->
    <div class="form-group">
      <label class="form-label" for="nombre">Nombre del módulo</label>
      <input
        id="nombre"
        type="text"
        class="form-input"
        formControlName="name"
        placeholder="Ej: Seguridad"
        autocomplete="off"
      />
      <div class="error-message" *ngIf="getFieldError('name')">
        {{ getFieldError('name') }}
      </div>
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <label class="form-label" for="descripcion">Descripción</label>
      <textarea
        id="descripcion"
        rows="5"
        class="form-input"
        formControlName="description"
        placeholder="Describe el alcance de este módulo…"
      ></textarea>
      <div class="error-message" *ngIf="getFieldError('description')">
        {{ getFieldError('description') }}
      </div>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions class="form-actions">
  <button mat-stroked-button type="button" class="btn-cancelar" (click)="cancelar()">
    Cancelar
  </button>
  <button mat-raised-button color="primary" class="btn-guardar"
          [disabled]="rolForm.invalid" (click)="onSubmit()">
    {{ modo === 'edit' ? 'Actualizar' : 'Registrar' }}
  </button>
</div>


