<app-toolbar
  title="Permisos"
  addLabel="Agregar"
  addSubtitle="permiso"
  [data]="dataSource"
  [searchFields]="['name']"
  (onAdd)="abrirDialog('create')"
  (filteredData)="dataSourceFiltered = $event"
></app-toolbar>


<!-- Contenedor de tarjetas -->
<div class="cards-container">
  <div class="card" *ngFor="let element of dataSourceFiltered">
    <div class="card-body">
      <div class="card-content">
        <!-- Encabezado -->
        <div class="contenedor-header">
          <div class="role-icon" [style.background]="getColor(element)">
            <h3>{{ element.name.slice(0, 2) }}</h3>
          </div>
          <div class="card-text">
            <div class="title-row">
              <h3>{{ element.name }}</h3>
              <div class="status-dot"></div>
            </div>
            <div class="description-row">
              <p>{{ element.description }}</p>
            </div>
          </div>
        </div>

        <!-- Acciones -->
        <div class="card-actions">
          <button
            mat-button
            class="edit-btn"
            (click)="abrirDialog('edit', element)"
          >
            <mat-icon>edit</mat-icon>
            Editar
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="eliminar(element.id)"
            matTooltip="Eliminar"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
