<!-- Barra superior -->
<div class="top-bar">
  <h6>Permisos</h6>
</div>

<!-- Controles de selección y acciones -->
<div class="controls">

  <!-- Select -->
  <select id="permisos" class="permiso-select" aria-label="Tipo de permiso">
    <option>Doctor</option>
    <option>Administrador</option>
  </select>

  <!-- Btn -->
  <div class="acciones">
    <button mat-button (click)="abrirDialog('create')">
      <span class="iconos">
        <i class="fas fa-user-circle"></i>
      </span>
      Agregar permiso
    </button>

    <!-- Search -->
    <div>
      <input type="text" placeholder="Buscar" [(ngModel)]="searchTerm">
    </div>
  </div>
</div>

<!-- Estilos de iconos (solo una vez) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- Tarjetas de permisos -->
<div class="role-grid">
  <div class="role-card" *ngFor="let permiso of filteredDataSource; let i = index">
    <div class="role-content">
      <!-- Iniciales como ícono -->
      <div class="role-icon">
        {{ permiso.permission.name.substring(0, 2).toUpperCase() }}
      </div>

      <div class="role-text">
        <h3>{{ permiso.permission.name }}</h3>
        <p>{{ permiso.permission.description }}</p>
      </div>
    </div>

    <div class="card-actions">
       <button class="edit-btn" mat-button (click)="abrirDialog('edit', permiso.permission)">
        <i class="fas fa-pen"></i> Editar
      </button>
      <button class="delete-btn" title="Eliminar" (click)="eliminar(permiso.id)">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>

