<section class="page">
  <header class="page-header">
    <h1 class="title">Personal de la salud</h1>

    <div class="header-actions" [formGroup]="form">
      <button mat-raised-button color="primary" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon> Agregar personal
      </button>

       <div class="search-container">
                <form class="d-flex search-bar" role="search">
                    <input type="search" class="form-control me-2 barra" matInput placeholder="Buscar"
                        [formControl]="searchControl" />
                </form>
            </div>

      <!-- <button mat-stroked-button (click)="openFilters()">
        <mat-icon>filter_list</mat-icon> Filtrar
      </button> -->
    </div>
  </header>

  <div class="cards-container" *ngIf="!loading; else loaderTpl">
    <div *ngIf="filteredDoctors.length === 0" class="empty">
      <mat-icon>person_off</mat-icon>
      <p>No se encontraron médicos.</p>
    </div>

    <div class="cards-grid">
      <app-doctor-card
        *ngFor="
          let d of filteredDoctors
          | slice: pageIndex * pageSize : (pageIndex + 1) * pageSize;
          trackBy: trackById
        "
        [image]="d.image" [fullName]="d.fullName || ''"
                    [specialtyName]="d.specialtyName" [email]="d.emailDoctor" [active]="d.active" [doctor]="d"
        (edit)="onEditDoctor(d)"
        (delete)="onDeleteDoctor(d)">
      </app-doctor-card>
    </div>
  </div>

  <ng-template #loaderTpl>
    <div class="loader">
      <mat-progress-spinner mode="indeterminate" diameter="48"></mat-progress-spinner>
    </div>
  </ng-template>

  <mat-paginator
    [length]="filteredDoctors.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[6, 12, 24, 48]"
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
</section>
