<h2 mat-dialog-title>
  {{ modo === 'edit' ? 'Editar Institución' : 'Registrar Institución' }}
</h2>

<div mat-dialog-content>
  <form [formGroup]="institutionForm" class="role-form">
    <!-- Nombre -->
    <div class="form-group">
      <label for="name" class="form-label">Nombre de la Institución</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="form-input"
        placeholder="Ingresa el nombre de la institución"
      />
      <div class="error-message" *ngIf="getFieldError('name')">
        {{ getFieldError('name') }}
      </div>
    </div>

    <!-- NIT -->
    <div class="form-group">
      <label for="nit" class="form-label">NIT</label>
      <input
        id="nit"
        type="text"
        formControlName="nit"
        class="form-input"
        placeholder="Ingresa el NIT de la institución"
      />
      <div class="error-message" *ngIf="getFieldError('nit')">
        {{ getFieldError('nit') }}
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="form-input"
        placeholder="Ingresa el email de la institución"
      />
      <div class="error-message" *ngIf="getFieldError('email')">
        {{ getFieldError('email') }}
      </div>
    </div>

    <!-- Ciudad -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ciudad</mat-label>
      <mat-select formControlName="cityId">
        <mat-option disabled *ngIf="citys.length === 0">
          Cargando ciudades...
        </mat-option>
        <mat-option *ngFor="let cy of citys" [value]="cy.id">
          {{ cy.name }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="institutionForm.get('cityId')?.invalid && institutionForm.get('cityId')?.touched">
        {{ getFieldError('cityId') }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="form-actions">
  <button mat-stroked-button type="button" class="btn-cancelar" (click)="cancelar()">
    Cancelar
  </button>
  <button mat-raised-button color="primary" class="btn-guardar"
          [disabled]="institutionForm.invalid" (click)="onSubmit()">
    {{ modo === 'edit' ? 'Actualizar' : 'Registrar' }}
  </button>
</div>
