<div class="contenedor-padre">
    <div class="contenedor-login">
        <div class="seccion-imagen">
            <!-- Aquí va tu logo o contenido de la imagen -->
        </div>
        <div class="seccion-formulario">
            <h2 class="titulo-login">Inicio de sesión</h2>
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label    class="form-label">Correo Electrónico</label>
                    <input  formControlName="email"   type="email" class="form-control">
                    <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    Email inválido.
                </div>
  
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input   formControlName="password"   type="password" class="form-control">
                     <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Contraseña requerida (mín. 6 caracteres).
      </div>
                </div>
                
                <div class="text-end mb-3">
                    <a href="/auth/forgot-password" class="texto-olvidaste">¿Olvidó su contraseña?</a>
                </div>
                
                <button type="submit" class="btn btn-primary btn-login w-100" [disabled]="loginForm.invalid">
                Inicia Sesión
            </button>
                
               
            </form>

             <div class="text-center mt-3">
                    <span >¿No tienes cuenta? </span>
                    <a href="/auth/register" class="enlace-registro">Regístrate</a>
                </div>
        </div>
    </div>
</div>