<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h2 class="modal-title">{{ modo === 'edit' ? 'Editar' : 'Registrar' }} Sucursal</h2>
    </div>

    <form [formGroup]="branchForm" (ngSubmit)="onSubmit()" class="role-form">
      <!-- Nombre -->
      <div class="form-group">
        <label for="name" class="form-label">Nombre</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          class="form-input"
          placeholder="Ingresa el nombre de la sucursal"
          [class.error]="getFieldError('name')"
        />
        <div class="error-message" *ngIf="getFieldError('name')">{{ getFieldError('name') }}</div>
      </div>

      <!-- Correo Electrónico -->
      <div class="form-group">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-input"
          placeholder="Ingresa el correo de la sucursal"
          [class.error]="getFieldError('email')"
        />
        <div class="error-message" *ngIf="getFieldError('email')">{{ getFieldError('email') }}</div>
      </div>

      <!-- Teléfono -->
      <div class="form-group">
        <label for="phoneNumber" class="form-label">Teléfono</label>
        <input
          id="phoneNumber"
          type="text"
          formControlName="phoneNumber"
          class="form-input"
          placeholder="Ingresa el número de teléfono"
          [class.error]="getFieldError('phoneNumber')"
        />
        <div class="error-message" *ngIf="getFieldError('phoneNumber')">{{ getFieldError('phoneNumber') }}</div>
      </div>

      <!-- Dirección -->
      <div class="form-group">
        <label for="address" class="form-label">Dirección</label>
        <input
          id="address"
          type="text"
          formControlName="address"
          class="form-input"
          placeholder="Ingresa la dirección"
          [class.error]="getFieldError('address')"
        />
        <div class="error-message" *ngIf="getFieldError('address')">{{ getFieldError('address') }}</div>
      </div>

      <!-- Selector de Institucion -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>institucion</mat-label>
        <mat-select formControlName="institutionId">
          <!-- Mensaje de carga si no hay departamentos -->
          <mat-option value=  disabled *ngIf="institucions.length === 0">
            Cargando departamentos...
          </mat-option>

          <!-- Opciones de departamentos -->
          <mat-option *ngFor="let inst of institucions" [value]="inst.id">
            {{ inst.name }}
          </mat-option>
        </mat-select>

        <!-- Mensaje de error -->
        <mat-error *ngIf="branchForm.get('institutionId')?.invalid && branchForm.get('institutionId')?.touched">
          {{ getFieldError('institutionId') }}
        </mat-error>
      </mat-form-field>


      <button type="submit" class="register-button" [disabled]="branchForm.invalid">
        {{ modo === 'edit' ? 'Actualizar' : 'Registrar' }}
      </button>
    </form>
  </div>
</div>
