<h2 mat-dialog-title>{{ modo === 'edit' ? 'Editar sucursal' : 'Registrar sucursal' }}</h2>

<div mat-dialog-content>
  <form [formGroup]="branchForm" class="role-form">
    <!-- Nombre -->
    <div class="form-group">
      <label for="name" class="form-label">Nombre</label>
      <input id="name" type="text" formControlName="name" class="form-input" placeholder="Ingresa el nombre de la sucursal" />
      <div class="error-message" *ngIf="getFieldError('name')">{{ getFieldError('name') }}</div>
    </div>

    <!-- Correo Electrónico -->
    <div class="form-group">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input id="email" type="email" formControlName="email" class="form-input" placeholder="Ingresa el correo de la sucursal" />
      <div class="error-message" *ngIf="getFieldError('email')">{{ getFieldError('email') }}</div>
    </div>

    <!-- Teléfono -->
    <div class="form-group">
      <label for="phoneNumber" class="form-label">Teléfono</label>
      <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-input" placeholder="Ingresa el número de teléfono" />
      <div class="error-message" *ngIf="getFieldError('phoneNumber')">{{ getFieldError('phoneNumber') }}</div>
    </div>

    <!-- Dirección -->
    <div class="form-group">
      <label for="address" class="form-label">Dirección</label>
      <input id="address" type="text" formControlName="address" class="form-input" placeholder="Ingresa la dirección" />
      <div class="error-message" *ngIf="getFieldError('address')">{{ getFieldError('address') }}</div>
    </div>

    <!-- Institución -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Institución</mat-label>
      <mat-select formControlName="institutionId">
        <mat-option disabled *ngIf="institucions.length === 0">Cargando instituciones...</mat-option>
        <mat-option *ngFor="let inst of institucions" [value]="inst.id">{{ inst.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="branchForm.get('institutionId')?.invalid && branchForm.get('institutionId')?.touched">
        {{ getFieldError('institutionId') }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="form-actions">
  <button mat-stroked-button type="button" class="btn-cancelar" (click)="cancelar()">
    Cancelar
  </button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="btn-guardar"
    [disabled]="branchForm.invalid"
    (click)="onSubmit()"
  >
    {{ modo === 'edit' ? 'Actualizar' : 'Registrar' }}
  </button>
</div>

