<section class="doctors-section">

  <h2 class="section-title">Nuestros especialistas</h2>

  <div class="carousel-wrapper">

    <button mat-icon-button class="nav-btn left" (click)="prev()">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="carousel" #carousel>
      <div class="card" *ngFor="let d of doctors; trackBy: trackById"
           (click)="goToDoctor(d.id)">

        <div class="img-container">
          <img [src]="d.image" alt="doctor">
        </div>

        <div class="info">
          <h3>{{ d.fullName }}</h3>
          <span class="spec">{{ d.specialtyName }}</span>
          <p class="email">{{ d.emailDoctor }}</p>
        </div>

      </div>
    </div>

    <button mat-icon-button class="nav-btn right" (click)="next()">
      <mat-icon>chevron_right</mat-icon>
    </button>

  </div>

</section>
