<h2 mat-dialog-title>
  {{ modo === 'edit' ? 'Editar Formulario' : 'Registrar Formulario' }}
</h2>

<div mat-dialog-content>
  <form [formGroup]="formForm" class="role-form">
    <!-- Nombre -->
    <div class="form-group">
      <label for="name" class="form-label">Nombre</label>
      <input
        id="name"
        type="text"
        class="form-input"
        formControlName="name"
        placeholder="Ej: Formulario de pacientes"
        autocomplete="off"
      />
      <div class="error-message" *ngIf="getFieldError('name')">
        {{ getFieldError('name') }}
      </div>
    </div>

    <!-- URL -->
    <div class="form-group">
      <label for="url" class="form-label">URL</label>
      <input
        id="url"
        type="text"
        class="form-input"
        formControlName="url"
        placeholder="https://tuapp.com/ruta"
        autocomplete="off"
        inputmode="url"
        spellcheck="false"
      />
      <div class="error-message" *ngIf="getFieldError('url')">
        {{ getFieldError('url') }}
      </div>
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <label for="description" class="form-label">Descripción</label>
      <textarea
        id="description"
        rows="5"
        class="form-input"
        formControlName="description"
        placeholder="Explica qué hace este formulario…"
      ></textarea>
      <div class="error-message" *ngIf="getFieldError('description')">
        {{ getFieldError('description') }}
      </div>
    </div>
  </form>
</div>


<div mat-dialog-actions class="form-actions">
  <button mat-stroked-button type="button" class="btn-cancelar" (click)="cancelar()">
    Cancelar
  </button>
  <button mat-raised-button color="primary" class="btn-guardar"
          [disabled]="formForm.invalid" (click)="onSubmit()">
    {{ modo === 'edit' ? 'Actualizar' : 'Registrar' }}
  </button>
</div>
