<!-- 🔹 Barra superior -->
<app-toolbar
  title="Consultorios"
  addLabel="Agregar"
  addSubtitle="consultorio"
  (onAdd)="abrirDialog('create')"
  (onSearch)="searchTerm = $event"
></app-toolbar>


<!--  Contenedor principal -->
<div class="consultorios-container">
  <div class="consultorios-grid">
    <!-- Cartas paginadas -->
    <div
      class="card"
      *ngFor="
        let c of consultoriosFiltrados
          | slice:(pageIndex * pageSize):(pageIndex * pageSize + pageSize);
        trackBy: trackById
      "
    >
      <!-- Imagen -->
      <img
        [src]="c.imagen"
        [alt]="'Imagen del consultorio ' + c.nombre"
      />

      <div class="card-info">
        <div class="card-header">
          <h3>{{ c.nombre }}</h3>

          <!-- Menú de acciones -->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>visibility</mat-icon>
              <span>Ver detalles</span>
            </button>
            <button mat-menu-item (click)="editarConsultorio(c)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="confirmarEliminar(c)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>

        <p class="branch-name">
          <mat-icon fontIcon="store" style="color:#388e3c;"></mat-icon>
          Sucursal: {{ c.branchName }}
        </p>

        <p class="ubicacion">
          <mat-icon fontIcon="location_on" style="color:#1976d2;"></mat-icon>
          {{ c.ubicacion }}
        </p>

        <span class="estado">{{ c.estado }}</span>
      </div>
    </div>
  </div>


  <mat-paginator
    [length]="consultoriosFiltrados.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[6, 12, 24, 48]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
