<!-- Barra superior -->
<div class="toolbar">
  <h2>Consultorios</h2>

  <div class="actions">
    <button mat-raised-button class="btn-add" (click)="abrirDialog('create')">
      <mat-icon>assignment_add</mat-icon>
      <span class="btn-text"><strong>Agregar</strong><br />consultorio</span>
    </button>

    <form class="search-form" role="search">
      <input
        class="search-input"
        type="search"
        placeholder="Buscar"
        aria-label="Buscar"
        [(ngModel)]="searchTerm"
        name="searchTerm"
      />
    </form>
  </div>
</div>

<div class="consultorios-container">
  <div class="consultorios-grid">
    <!-- usa la lista filtrada -->
    <div class="card" *ngFor="let c of consultoriosFiltrados">
      <img [src]="c.imagen" alt="{{ c.nombre }}" />
      <div class="card-info">
        <div class="card-header">
          <h3>{{ c.nombre }}</h3>

          <!-- Botón de 3 puntos con menú -->
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>visibility</mat-icon>
              <span>Ver detalles</span>
            </button>

            <!-- 👉 conectar Editar -->
            <button mat-menu-item (click)="editarConsultorio(c)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>

            <!-- Eliminar con confirmación -->
            <button mat-menu-item (click)="eliminarConsultorio(c)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>

        <p class="ubicacion">
          <mat-icon fontIcon="location_on" style="color:#1976d2;"></mat-icon>
          {{ c.ubicacion }}
        </p>
        <span class="estado">{{ c.estado }}</span>
      </div>
    </div>
  </div>
</div>
