.main-content {
  background-color: #ECF9FF;
}

.form-header {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

  .btn-add {
    display: flex;
    justify-content: left;
    height: 48px;
    width: 174px;
    background-color: #708EEE !important;
    color: #ffffff !important;
    border-radius: 8px;
  }
}


.search-container {
  display: flex;
  height: 100% !important;
  align-items: center;
}


.search-bar {
  width: 370px;
  height: 100% !important;
  max-height: 100% !important;
  display: flex;
  justify-content: center !important;
  border-radius: 8px;
  box-sizing: border-box !important;
}

.custom-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
}

.table-modules {
  width: 100%;
}

.table-container {
  max-height: 600px; 
  overflow-y: auto;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

.fondo-card {
  background-color: #f4f4f4 !important;
}

.tabla-diseño {
  border-radius: 20px;
}

table.mat-table {
  width: 100%;
  background-color: #c90e0e;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.mat-header-row {
  background-color: #b20000 !important;
  height: 48px;
}

.mat-header-cell {
  color: #a22c2c;
  font-weight: 600;
  font-size: 14px;
  padding: 12px;
  border-bottom: 1px solid #9e0d0d;
}

.mat-row {
  height: 48px;
}

.mat-cell {
  font-size: 13px;
  padding: 12px;
  border-bottom: 1px solid #741b1b;
  color: #9b0707;
}

