.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.verify-card {
  width: 380px;
  padding: 25px;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 20px;
  color: gray;
}

.w-100 {
  width: 100%;
}

.btn-verify {
  width: 100%;
  margin-top: 10px;
}
