<h2 mat-dialog-title>
  {{ modo === 'crear' ? 'Crear consultorio' : 'Editar consultorio' }}
</h2>

<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="guardar()" class="form-grid">

    <!-- Sucursal: muestra nombre (b.name), guarda id (b.id) en branchId -->
    <mat-form-field appearance="outline">
      <mat-label>Sucursal</mat-label>
      <mat-select formControlName="branchId" [disabled]="loadingBranches">
        <mat-option *ngIf="loadingBranches" [value]="null" disabled>
          Cargando sucursales...
        </mat-option>

        <mat-option *ngFor="let b of branches" [value]="b.id">
          {{ b.name }}
          <span *ngIf="b.institutionName">— {{ b.institutionName }}</span>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('branchId')?.hasError('required')">
        La sucursal es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- Nombre: SOLO letras y espacios -->
    <mat-form-field appearance="outline">
      <mat-label>Nombre de consultoreo</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Nombre del consultorio"
        (keypress)="soloLetras($event)"
        (paste)="soloLetrasPaste($event)"
        autocomplete="off"
      />
      <mat-error *ngIf="form.get('name')?.hasError('required')">El nombre es obligatorio.</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('maxlength')">Máximo 60 caracteres.</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('pattern')">Solo se permiten letras y espacios.</mat-error>
    </mat-form-field>

    <!-- Número de consultorio: SOLO números -->
    <mat-form-field appearance="outline">
      <mat-label>Número de consultorio</mat-label>
      <input
        matInput

        class="no-spin"
        formControlName="roomNumber"
        placeholder="Número de consultorio"
        inputmode="numeric"
        pattern="[0-9]*"
        (keypress)="soloNumeros($event)"
        (paste)="soloNumerosPaste($event)"
        autocomplete="off"
      />
      <mat-error *ngIf="form.get('roomNumber')?.hasError('required')">Campo obligatorio.</mat-error>
      <mat-error *ngIf="form.get('roomNumber')?.hasError('min')">Debe ser ≥ 1.</mat-error>
      <mat-error *ngIf="form.get('roomNumber')?.hasError('pattern')">Solo se permiten números.</mat-error>
    </mat-form-field>

    <!-- Piso: SOLO números -->
    <mat-form-field appearance="outline">
      <mat-label>Piso </mat-label>
      <input
        matInput

        class="no-spin"
        formControlName="floor"
        placeholder="Piso"
        inputmode="numeric"
        pattern="[0-9]*"
        (keypress)="soloNumeros($event)"
        (paste)="soloNumerosPaste($event)"
        autocomplete="off"
      />
      <mat-error *ngIf="form.get('floor')?.hasError('required')">Campo obligatorio.</mat-error>
      <mat-error *ngIf="form.get('floor')?.hasError('min')">No puede ser negativo.</mat-error>
      <mat-error *ngIf="form.get('floor')?.hasError('pattern')">Solo se permiten números.</mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions class="form-actions">
  <button mat-stroked-button type="button" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">
    {{ modo === 'crear' ? 'Guardar' : 'Guardar cambios' }}
  </button>
</div>
