<div class="table-container tabla-diseño">
  <table mat-table [dataSource]="paginatedData" class="mat-elevation-z2">

    <!-- Columnas dinámicas -->
    <ng-container *ngFor="let col of columnDefs" [matColumnDef]="col.key">
      
      <th class="header-tablle-generic" mat-header-cell *matHeaderCellDef>{{ col.label }}</th>

      <td mat-cell *matCellDef="let element; let i = index">

        <!-- Índice incremental -->
        <ng-container *ngIf="col.key === 'index'">
          {{ getRowIndex(i) }}
        </ng-container>

        <!-- Texto normal -->
        <ng-container *ngIf="!col.type || col.type === 'text'">
          {{ col.format ? col.format(element) : element[col.key] }}
        </ng-container>

        <!-- CHIP con estilos dinámicos -->
        <ng-container *ngIf="col.type === 'chip'">
          <span
            class="state-chip"
            [ngClass]="col.cssClassFn ? col.cssClassFn(element) : ''">
            {{ col.format ? col.format(element) : element[col.key] }}
          </span>
        </ng-container>

        <!-- Icono -->
        <ng-container *ngIf="col.type === 'icon'">
          <button
            mat-icon-button
            [matTooltip]="col.tooltip"
            color="primary">
            <mat-icon>{{ col.icon }}</mat-icon>
          </button>
        </ng-container>

        <!-- Acciones -->
        <ng-container *ngIf="col.type === 'actions'">
          
          <button
            *ngIf="!col.hideEdit"
            mat-icon-button
            color="primary"
            matTooltip="Editar"
            (click)="emitAction('edit', element)">
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            matTooltip="Eliminar"
            (click)="emitAction('delete', element)">
            <mat-icon>delete</mat-icon>
          </button>

          <button
            mat-icon-button
            color="accent"
            matTooltip="Detalle"
            (click)="emitAction('detail', element)">
            <mat-icon>info</mat-icon>
          </button>

        </ng-container>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>

<!-- Paginador -->
<mat-paginator
  [length]="dataSource.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[10, 15, 25, 55]"
  (page)="onPageChange($event)"
  showFirstLastButtons>
</mat-paginator>
