.table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e6e6e6;
}

.mat-header-row {
  background: #f7f9fc;
  height: 55px;
}

.mat-header-cell {
  font-weight: 700;
  color: #4b4b4b;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

.mat-row {
  height: 60px;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s ease;
}

.mat-row:hover {
  background: #f5faff;
}

.mat-cell {
  font-size: 15px;
  color: #333;
  padding: 12px 20px;
}

/* CHIP */
.state-chip {
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 13px;
}

/* Colores de estado */
.state-ingreso {
  background: #e6f7ed;
  color: #169b5b;
}

.state-salida {
  background: #fdeceb;
  color: #d9363e;
}

.state-aprobado {
  background: #e0f4ff;
  color: #1479c9;
}

.state-rechazado {
  background: #ffe0e0;
  color: #c90b0b;
}

.state-pendiente {
  background: #fff4e5;
  color: #d48b18;
}


.header-tablle-generic{
  background: #dddddf !important;
  font-weight: bold !important;
}