

<app-toolbar
  title="Tipos de Cita"
  addLabel="Agregar"
  addSubtitle="Cita"
  [data]="typeCitations"
  [searchFields]="['name', 'description']"
  (onAdd)="crear()"
  (filteredData)="typeCitationsFiltered = $event"
></app-toolbar>

<div class="cards-container">
  <app-card-type-citation
    *ngFor="let t of typeCitationsFiltered | slice:(pageIndex * pageSize):((pageIndex + 1) * pageSize); trackBy: trackById"
    [id]="t.id"
    [title]="t.name"
    [imageName]="t.icon"
    [route]="toRoute(t.name)">
  </app-card-type-citation>
</div>

 <mat-paginator
    [length]="typeCitations.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[6, 12, 24, 48]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>