<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="role-grid" *ngIf="!loading && !errorMsg; else loadingOrError">

  <!-- Avatar / resumen corto -->
  <div class="role-amor">
    <div class="role-content">
      <img [src]="doctorImg" alt="Foto doctor" class="doctor-img" />
      <div class="doctor-info">
        <h3>{{ fullName }}</h3>
        <div class="info-row">
          <div>
            <span class="label">Edad</span>
            <span class="value">{{ age }}</span>
          </div>
          <div>
            <span class="label">Profesión</span>
            <span class="value">{{ specialty }}</span>
          </div>
          <div>
            <span class="label">Estado</span>
            <span class="value">{{ doctor?.active ? 'Activo' : 'Inactivo' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Información personal -->
  <div class="personal-card">
    <h3>Información Personal</h3>

    <div class="personal-item">
      <i class="fas fa-user"></i>
      <div>
        <span class="label">Nombre completo</span>
        <span class="value">{{ fullName }}</span>
      </div>
    </div>

    <div class="personal-item">
      <i class="fas fa-calendar"></i>
      <div>
        <span class="label">Fecha de Nacimiento</span>
        <span class="value">{{ doctor?.dateBorn | date:'longDate' }}</span>
      </div>
    </div>

    <div class="personal-item">
      <i class="fas fa-mars"></i>
      <div>
        <span class="label">Género</span>
        <span class="value">{{ gender }}</span>
      </div>
    </div>

    <div class="personal-item">
      <i class="fas fa-id-card"></i>
      <div>
        <span class="label">Documento</span>
        <span class="value">{{ document }}</span>
      </div>
    </div>
  </div>

  <!-- Contacto -->
  <div class="contact-card">
    <h3>Contacto</h3>

    <div class="contact-item">
      <i class="fas fa-phone-alt"></i>
      <div>
        <span class="label-phone">Teléfono</span>
        <span class="value">{{ phone }}</span>
      </div>
    </div>

    <hr />

    <div class="contact-item">
      <i class="fas fa-envelope"></i>
      <div>
        <span class="label-phone">Email</span>
        <span class="value">{{ email }}</span>
      </div>
    </div>
  </div>

 

</div>

<ng-template #loadingOrError>
  <div class="role-grid" style="width:100%">
    <div class="card"
      style="background:#fff; border-radius:12px; padding:24px; width:100%; max-width:720px; margin:40px auto; text-align:center; box-shadow:0 10px 20px rgba(0,0,0,.06);">
      <ng-container *ngIf="loading; else errTpl">
        Cargando perfil del doctor…
      </ng-container>
      <ng-template #errTpl>
        <div style="color:#ef4444; font-weight:600">{{ errorMsg }}</div>
      </ng-template>
    </div>
  </div>
</ng-template>