<div class="auth-shell">
  <div class="card">
    <img src="../../../../../assets/images/logo.png" alt="Logo" class="logo" />
    <h1 class="title">Recuperar contraseña</h1>

    <form class="grid" [formGroup]="form" (ngSubmit)="submit()">
      <div class="fg">
        <label>Correo electrónico</label>
        <input class="inp" type="email" formControlName="email" placeholder="correo@dominio.com" />
        <div class="err" *ngIf="f['email'].touched && f['email'].invalid">Correo inválido.</div>
      </div>

      <div class="buttons">
        <button class="btn-primary" type="submit" [disabled]="loading">
          Enviar enlace
        </button>
        <button class="btn-link" type="button" (click)="goLogin()">Volver al inicio de sesión</button>
      </div>
    </form>
  </div>
</div>
