<div class="dashboard-container">
  <!-- Header fijo arriba -->
  <header class="header-fixed">
    <!-- Botón hamburguesa para móvil -->
    <button
      class="mobile-menu-btn"
      (click)="drawer.toggle()"
      *ngIf="isMobile">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="top-bar">
      <h1 class="header-title">Panel de {{ tipoUsuario | titlecase }}</h1>
      <div class="search-container">
         <input type="text" placeholder="Buscar">
         <button title="Buscar"><i class="fas fa-search"></i></button>
      </div>
      <div class="icon-container">
        <i class="fas fa-bell" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"></i>
        <i class="fas fa-user-circle" (click)="onClickPerfil()" style="cursor:pointer" aria-label="Ir a perfil"></i>
        <li (click)="CerrarSession()" style="cursor: pointer; display: flex; align-items: center;">
        <span class="material-icons" style="margin-right: 8px;">logout</span>
        <span>Cerrar Sesión</span>
      </li>
      </div>
    </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </header>

  <!-- Tu drawer container original -->
  <mat-drawer-container class="drawer-container" hasBackdrop="false">
    <mat-drawer
      #drawer
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      class="sidebar-drawer">

      <app-sidebar [menuItems]="menuItems"></app-sidebar>
    </mat-drawer>

    <mat-drawer-content class="main-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notificaciones</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-notificaciones></app-notificaciones>
  </div>
</div>



<div class="offcanvas offcanvas-end micIta" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel2">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mis Citas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
   <app-mi-citas></app-mi-citas>
  </div>
</div>
