<div class="auth-shell">
  <div class="card">
    <img src="../../../../../assets/images/logo.png" alt="Logo" class="logo" />
    <h1 class="title">Restablecer contraseña</h1>

    <form class="grid" [formGroup]="form" (ngSubmit)="submit()">
      <div class="fg">
        <label>Correo electrónico</label>
        <input class="inp" type="email" formControlName="email" placeholder="correo@dominio.com" [attr.disabled]="true" />
      </div>

      <div class="row-2">
        <div class="fg">
          <label>Nueva contraseña</label>
          <input class="inp" type="password" formControlName="password"
            placeholder="Mín. 8 con mayús, minús, número y símbolo" />
          <div class="err" *ngIf="f['password'].touched && f['password'].invalid">
            Debe contener mayúscula, minúscula, número y símbolo.
          </div>
        </div>

        <div class="fg">
          <label>Confirmar contraseña</label>
          <input class="inp" type="password" formControlName="confirmPassword" />
          <div class="err" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors?.['mismatch']">
            No coincide con la contraseña.
          </div>
          <div class="err" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors?.['required']">
            Requerido.
          </div>
        </div>
      </div>

      <div class="buttons">
        <button class="btn-primary" type="submit" [disabled]="loading">Actualizar contraseña</button>
        <button class="btn-link" type="button" (click)="router.navigate(['/auth/login'])">
          Ir al inicio de sesión
        </button>
      </div>
    </form>
  </div>
</div>