<app-toolbar
  title="Horarios"
  addLabel="Agregar"
  addSubtitle="Horario"
  [data]="shedules"
  [searchFields]="['typeCitationName', 'consultingRoomName', 'nameDoctor']"
  (onAdd)="openFormShedule()"
  (filteredData)="shedulesFiltered = $event"
></app-toolbar>

<div class="schedules-container">
  <app-shedule-card
    *ngFor="let shedule of shedulesFiltered"
    [schedule]="shedule"
    (action)="Delete(shedule.id)"
  >
  </app-shedule-card>
</div>

<mat-paginator
  [length]="shedules.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[6, 12, 24, 48]"
  (page)="onPageChange($event)"
  showFirstLastButtons
>
</mat-paginator>
