<div class="form-header">
  <button
    mat-raised-button
    color="primary"
    class="btn-add"
    (click)="openFormShedule()">
    <mat-icon>assignment_add</mat-icon>
    Agregar horario
  </button>

  <div class="search-container">
    <form class="d-flex barra" role="search">
      <input
        class="form-control me-2 barra"
        type="search"
        placeholder="Search"
        aria-label="Search"/>
    </form>
  </div>
</div>

<div class="schedules-container">
  <app-shedule-card
    *ngFor="let shedule of shedules"
    [schedule]="shedule">
  </app-shedule-card>
</div>
