<mat-toolbar color="primary" class="toolbar-container">
  <!-- Logo -->
 <app-icon-incio></app-icon-incio>

  <!-- Menú de navegación para desktop -->
  <div class="desktop-nav" *ngIf="!(isHandset$ | async)">
    <app-nav-link Texto="Inicio"></app-nav-link>
    <app-nav-link Texto="Gestión de citas" ></app-nav-link>
    <app-nav-link Texto="Tu espacio" ></app-nav-link>
    <app-nav-link Texto="Contacto" ></app-nav-link>
  </div>

  <!-- Spacer para separar logo del resto -->
  <span class="spacer"></span>

  <!-- Botones de usuario para desktop -->
  <div class="desktop-actions" *ngIf="!(isHandset$ | async)">
    <app-nav-link Texto="Iniciar Sesión"></app-nav-link>
    <app-button-basic text="¡Regístrate!"></app-button-basic>
  </div>

  <!-- Menú hamburguesa para móvil -->
 <app-mobile-menu *ngIf="isHandset$ | async"></app-mobile-menu>

</mat-toolbar>
